body{
    background-color: gold;
}

div h1{
    font-size: 145px;
    text-align: center;
    color: goldenrod;
}

li{
    text-align: center;
    font-size: 15px;
    color: black;
}

a:hover { background-color: #f6f6ef; }

ul {
    list-style-type: none;
}

.vids {
    /* box-sizing: border-box;
    position: relative; */
    /* text-align: center; */
}

/*
body{
    /* background-image: url("");
}  */